Package: ##PACKAGE##
Version: ##VERSION##
Architecture: amd64
Maintainer: Yoann QUERET <yoann@queret.net>
Depends: libc6 (>= 2.14)
Section: hamradio
Priority: optional
Homepage: http://www.opendigitalradio.org/
Description: Provide several popular forward error correction (FEC) algorithms for ODR-mmbTools.
 This package provides a set of functions that implement several
 popular forward error correction (FEC) algorithms and several low-level routines
 useful in modems implemented with digital signal processing (DSP).
