Package: ##PACKAGE##
Version: ##VERSION##
Architecture: amd64
Maintainer: Yoann QUERET <yoann@queret.net>
Depends: python, adduser, libboost-date-time1.55.0, libboost-filesystem1.55.0, libboost-program-options1.55.0, libboost-regex1.55.0, libboost-serialization1.55.0, libboost-system1.55.0, libboost-test1.55.0, libboost-thread1.55.0, libc6 (>= 2.15), libgcc1 (>= 1:4.1.1), liborc-0.4-0 (>= 1:0.4.20), libstdc++6 (>= 4.9), libusb-1.0-0 (>= 2:1.0.9~)
Conflicts: libuhd003, uhd-host
Replaces: libuhd
Provides: libuhd
Section: Amateur Radio
Priority: optional
Homepage: https://github.com/Opendigitalradio/uhd
Description: Universal hardware driver for Ettus Research products
 UHD is the free & open-source software driver and API for the
 Universal Software Radio Peripheral (USRP™) SDR platform, created
 and sold by Ettus Research.
 UHD supports all Ettus Research USRP™ hardware, including all
 motherboards and daughterboards, and the combinations thereof.
 