Source: odr-dabmux
Section: hamradio
Priority: optional
Maintainer: Yoann QUERET <yoann@queret.net>
Build-Depends: debhelper (>= 9),
    dh-autoreconf,
    libboost-system-dev,
    libboost-thread-dev,
    libboost-regex-dev,
    libzmq3-dev,
    libcurl4-openssl-dev | libcurl4-gnutls-dev,
    libfftw3-dev,
    libfec (>= 3.0.1+odr1)
Standards-Version: 3.9.8
Homepage: http://www.opendigitalradio.org

Package: odr-dabmod
Version: ##VERSION##
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: supervisor
Description: DAB (Digital Audio Broadcasting) multiplexer
 ODR-DabMux is a DAB (Digital Audio Broadcasting) multiplexer compliant to ETSI
 EN 300 401. It is the continuation of the work started by the Communications
 Research Center Canada on CRC-DabMux, and is now pursued in the
 Opendigitalradio project.
 .
 ODR-DabMux is part of the ODR-mmbTools tool set. More information about the
 ODR-mmbTools is available in the guide, available on the Opendigitalradio
 mmbTools page.
