Package: ##PACKAGE##
Version: ##VERSION##
Architecture: amd64
Maintainer: Yoann QUERET <yoann@queret.net>
Depends: libc6 (>= 2.14)
Section: Amateur Radio
Priority: optional
Homepage: http://http://www.opendigitalradio.org/
Description: Provide several popular forward error correction (FEC) algorithms for ODR-mmbTools.
 Copyright 2006, Phil Karn, KA9Q - karn@ka9q.net
 http://www.ka9q.net/
 -
 This package provides a set of functions that implement several
 popular forward error correction (FEC) algorithms and several low-level routines
 useful in modems implemented with digital signal processing (DSP).
 -
 The following routines are provided:
 -
 1. Viterbi decoders for the following convolutional codes:
 r=1/2 k=7 ("Voyager" code, now a widely used industry standard)
 r=1/2 k=9 (Used on the IS-95 CDMA forward link)
 r=1/6 k=15 ("Cassini" code, used by several NASA/JPL deep space missions)
 -
 2. Reed-Solomon encoders and decoders for any user-specified code.
 -
 3. Optimized encoder and decoder for the CCSDS-standard (255,223)
 Reed-Solomon code, with and without the CCSDS-standard "dual basis"
 symbol representation.
 -
 4. Compute dot product between a 16-bit buffer and a set of 16-bit
 coefficients. This is the basic DSP primitive for digital filtering
 and correlation.
 -
 4. Compute sum of squares of a buffer of 16-bit signed integers. This is
 useful in DSP for finding the total energy in a signal.
 -
 5. Find peak value in a buffer of 16-bit signed integers, useful for
 scaling a signal to prevent overflow.
 