Package: ##PACKAGE##
Version: ##VERSION##
Architecture: amd64
Maintainer: Yoann QUERET <yoann@queret.net>
Depends: libzmq3, libboost-system1.55.0, libboost-thread1.55.0, libcurl4-gnutls, libfftw3
Section: Amateur Radio
Priority: optional
Homepage: https://github.com/Opendigitalradio/ODR-DabMux
Description: DAB (Digital Audio Broadcasting) modulator, part of the ODR-mmbTools.
 ODR-DabMod is a DAB (Digital Audio Broadcasting) modulator compliant to ETSI EN
 300 401. It is the continuation of the work started by which was developed by
 the Communications Research Center Canada on CRC-DabMod, and is now pursued in
 the Opendigitalradio project.
 .
 ODR-DabMod is part of the ODR-mmbTools tool set. More information about the
 ODR-mmbTools is available in the guide, available on the Opendigitalradio
 mmbTools page.
